# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints

# Local files
figures-slides.ipynb
figures_slides.py
figures/slides-*.pdf

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store